body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

body header {
  grid-column: 1/-1;
  background: lightblue;
  padding: 20px;
  text-align: center;
  opacity: .5;
}

body header:hover {
  -webkit-animation: headAnim;
          animation: headAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes headAnim {
  from {
    background: lightblue;
  }
  to {
    background: purple;
    opacity: 1;
  }
}

@keyframes headAnim {
  from {
    background: lightblue;
  }
  to {
    background: purple;
    opacity: 1;
  }
}

body nav {
  opacity: .5;
  grid-column: 1/-1;
  padding: 15px;
  text-align: center;
  background: orange;
}

body nav:hover {
  -webkit-animation: navAnim;
          animation: navAnim;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes navAnim {
  from {
    background: orange;
  }
  to {
    background: yellow;
    opacity: 1;
  }
}

@keyframes navAnim {
  from {
    background: orange;
  }
  to {
    background: yellow;
    opacity: 1;
  }
}

body nav a {
  text-decoration: none;
  color: black;
  opacity: .5;
}

body article {
  background: lightgreen;
}

body article:hover {
  -webkit-animation: artAnim 1s forwards;
          animation: artAnim 1s forwards;
}

body article header {
  -webkit-animation: none;
          animation: none;
  opacity: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: #cff1cf;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

body article section {
  padding: 10px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  background: #cff1cf;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
}

body div {
  background: lightgreen;
  margin-left: 10px;
}

body div aside {
  padding: 10px;
  border: 2px solid grey;
  margin: 5px;
  border-radius: 10px;
}

body div:hover {
  -webkit-animation: artAnim 1s forwards;
          animation: artAnim 1s forwards;
}

@-webkit-keyframes artAnim {
  from {
    background: lightgreen;
  }
  to {
    background: orange;
    opacity: 1;
  }
}

@keyframes artAnim {
  from {
    background: lightgreen;
  }
  to {
    background: orange;
    opacity: 1;
  }
}

body p {
  background: palevioletred;
  margin: 0;
  grid-column: 1/-1;
  padding: 10px;
}

body p:hover {
  -webkit-animation: pAnim 1s forwards;
          animation: pAnim 1s forwards;
}

@-webkit-keyframes pAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}

@keyframes pAnim {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}

body footer {
  opacity: .5;
  position: absolute;
  background: plum;
  width: 100vw;
  text-align: center;
  height: 100px;
  margin-top: 100px;
  bottom: 0;
}

body footer:hover {
  -webkit-animation: footAnim 1s forwards;
          animation: footAnim 1s forwards;
}

@-webkit-keyframes footAnim {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes footAnim {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */